html, body {
  height: 100%;
  margin: 0;
}
body /deep/ div::-webkit-scrollbar {
    height: 12px;
    width: 6px;
    background: rgba(0,0,0,0.14);
}
[drawer]{background-color:white;border-radius:4px;}
body /deep/ div::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.14);
    height:12px;
    -webkit-border-radius: 1ex;
    border: 1px solid rgba(0, 0, 0, 0.26) ;
}

body /deep/ div::-webkit-scrollbar-corner {
    background: red;
}
 
core-header-panel {
  height: 100%;
}
sample-card-container {width:225px;height:120px;}
sample-card-container /deep/ .core-header {background:red;}
core-toolbar{background-color: #03A9F4;color:rgba(255,255,255,0.86);}

